<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <title> <%= title %> </title>
    <link rel="icon" type="image/png" href="/public/images/icon.png">
  </head>
  <body>

    <%-include("../header.ejs")%>
    <%-include("../background.ejs")%>
    
    <div class="home-frame pixelify-sans show" id="home-frame">
      <div class="title-wrapper">
          <div class="title-main" style="font-family: 'Press Start';">
              <span class="q" style="color: red;">Q</span>
              <span class="u" style="color: orange; font-size: .75em; margin-bottom: -35px;"><sub>U</sub></span>
              <span class="i" style="color: yellow; font-size: .75em;">I</span>
              <span class="z" style="color: green; font-size: .75em; margin-top: -50px;"><sup>Z</sup></span>
              <span class="z2" style="color: blue; font-size: .75em; margin-bottom: -35px;"><sub>Z</sub></span>
              <span class="d" style="color: #8c52ff;">D</span>
          </div>
      </div>
      <div class="no-show" id="home-buttons">
          <form id="form-start" method="post" action="/play">
                <input id="currentTime" name="currentTime" value="<%= currentTime %>" hidden readonly>
              <button type="submit" class="btn pixelify-sans" id="play-start">Play Now</button>
          </form>
  
          <button class="btn pixelify-sans" id="instructions">How To Play</button>

          <form id="form-start" method="get" action="/play-history">
              <button type="submit" class="btn pixelify-sans" id="play-start"> Play History </button>
          </form>

          <form id="form-start" method="get" action="/leaderboard">
              <button type="submit" class="btn pixelify-sans" id="global-leaderboard"> Leaderboard </button>
          </form>
      </div>

  </div>

  <div class="instructions-frame pixelify-sans no-show" id="instruction-frame-id">
      <div class="instructions-wrapper" style="font-size: 2em;">
          <h2>How to Play</h2>
          <p id="instructions-text" style="text-align: center; font-size: .65em;"></p>
          <button class="pixelify-sans" id="instructions-cancel">Return</button>
      </div>
  </div>

  <div class="settings-frame pixelify-sans no-show" id="settings-frame-id">
    <div class="settings-wrapper" style="font-size: 1.85em; gap: 50px;">
        <h2>Settings</h2>
        <div class="var-questions">
            <div class="var-questions-main">
                <span style="flex: .75;">Number of questions:</span>
                <input class="req-setting"
                    id="user-questions"
                    form="form-start"
                    name="questions" 
                    min="<%=minQuestions%>"max="<%=maxQuestions%>" 
                    value= "<%= totalQuestions %>"
                    onblur="imposeMinMax(this)">
                </input>
            </div>
            <span class="press-start" style="font-size: .3em">(Min: <%=minQuestions%>, Max: <%=maxQuestions%>)</span>
        </div>
        <div class="var-timer">
            <div class="var-timer-main">
                <span style="flex: .75;">Timer (seconds):</span>
                <input class="req-setting"
                        id="user-timer"
                        form="form-start"
                        name="timer"
                        min="<%=minTimer%>" max="<%=maxTimer%>"
                        value = "<%= timer %>"
                        onblur="imposeMinMax(this)">
                </input>
            </div>
            <span class="press-start" style="font-size: .3em">(Min: <%=minTimer%>, Max: <%=maxTimer%>)</span>
        </div>

        <div class="var-difficulty">
            <div class="var-difficulty-main">
                <span style="flex: .75;">Difficulty:</span>
                <div class="difficulty-options">
                    <button id="difficulty-left" onclick="decrement(this)">◀</button>
                    <input class="req-setting" 
                            id="difficulty-text" 
                            form="form-start"
                            name="difficulty" 
                            value="<%= difficulty %>" 
                            readonly>
                    </input>
                    <button id="difficulty-right" onclick="increment(this)">▶</button>
                </div>
            </div>
        </div>
        <button class="pixelify-sans" id="settings-cancel">Return</button>
    </div>
</div>

  <%-include("../footer.ejs")%>
  <script src="./javascripts/indexMisc.js"></script>
  </body>
</html>
