<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel = 'stylesheet' href="/stylesheets/results.css">
    <title>Quizzd</title>
    <link rel="icon" type="image/png" href="/public/images/icon.png">
</head>
<body>
    <%-include("../header.ejs")%>
    <%-include("../background.ejs")%>

    <div class = "results-frame">
        <div class = "box"> 
            <div class="white-text font-big">
                <h1 class="pixelify-sans" style="font-size: 4em"> Top <%= test %> Leaderboard</h1>
            </div>
            <div class = "boxbg">
                <div class="leaderboard-div">
                    <% for(let i = 0; i < result.length; i++) { %>
                        <div class="post">
                            <h2 class = "white-text pixelify-sans font-big"><%= result[i].username %> :        <%= result[i].score %></h2>
                            </div>
                    <%}%>
                </div>
            </div>
        </div>

        <div class="buttons">
            <form method="get" action="/">
                <button class = "btn pixelify-sans"> Back Home</button>
            </form>
        </div>
    </div>
    
    
  

    <script>
        document.getElementById('settings').classList.toggle("no-show");
    </script>


    <%-include("../footer.ejs")%>
</body>
</html>