<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/quiz.css' />
    <title> <%= title %></title>
  </head>
  <body>
    <%-include("../header.ejs")%>
    <%-include("../background.ejs")%>

    <div class="quiz-frame pixelify-sans" id="quiz-frame-id">
      <div class="quiz-wrapper pixelify-sans">
        <div class="quiz-wrapper-top">
          <h1>Question <%= questionNumber %> of <%= questions %></h1>
          <h3><%= question.question %></h3>
        </div>

        <div class="quiz-wrapper-bottom">
          <form id="answer-form" action="/play" method="POST">
            <input name="cutsceneFinished" hidden readOnly>
            <input id="total-qs" name="questions" value="<%= questions %>" hidden readonly>
            <input name="score" value="<%= score %>" hidden readonly>
            <input name="timer" value="<%= timer %>" hidden readonly>
            <input id="current-qs" name="currentQuestion" value="<%= questionNumber %>" hidden readonly>
            
            <div class="options-frame">
              <% options.forEach(function(option) { %>
                <div class="option">
                  <input type="radio" id="<%= option.key %>" name="answer" value="<%= option.key %>" required>
                  <div class="label-wrapper">
                    <label for="<%= option.key %>"><%= option.key %>: <%= option.value %></label>
                  </div>
                </div>
              <% }); %>
            </div>
          </form>

          <button form="answer-form" type="submit" class="btn pixelify-sans">Submit Answer</button>
        </div>

      </div>
    </div>

    <%-include("../footer.ejs")%>
    <script src="./javascripts/quiz.js"></script>
  </body>
</html>